body {
	background-image: url(../images/babyturtle.png);
	background-repeat: repeat;
}

h1, h2 {
	font-size: 50px;
	color: #f4f4f4;	
}

ul,li {
	font-size: 30px;
	color: #f4f4f4;
}
h3 {
	font-size: 100px;
	color: #28d3cb;
}